html{
    overflow-y: scroll;
}
body{
    overflow-y: scroll;
    margin: 0;
    font-family: sans-serif;
}
.top-menu-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    padding: 10px 20px;
    height: 50px;
    
}

.top-menu-bar .top-inner-menu-bar a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    height: 25px;
    
}

.center-login-square {
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 5%;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea{
    width: 150px;
    height: 20px;
    margin: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    resize: none;
    transition: border-color 0.3s ease;
}